<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>downloadTool</title>

    <style>
        div{
            width: 40%;
            margin:20% auto;
        }
    </style>
</head>

<body>
    <div>
        <h1>简易下载器</h1>
        <form method="GET" action="/result">
            <input type="url" name="website" placeholder="请输入目标地址">
            <input type="text" name="fileAddress" placeholder="请输入文件保存地址">
            <input type="text" name="fileName" placeholder="命名文件">
            <button type="submit">提交</button>
        </form>
    </div>
</body>

</html>